*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.7em;
  background-color: #f4f7f4;
  color: #222;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header,
footer,
main,
article,
section,
aside,
nav,
figure,
details,
dialog {
  margin-bottom: 1.5em;
}

body > header {
  background-color: #2f5d3a;
  color: white;
  width: 100vw;
  padding: 2em 0em;
}

body > header > hgroup, body > header > nav{
  line-height: 2em;
  padding-left: 1em;
}

body > header > hgroup{
  padding-bottom: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 50%;
  padding: 0 1em;
}

article > header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 2em;
}

section {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

mark {
  background-color: #c8f7c5;
  padding: 0.2em 0.4em;
}

data {
  font-weight: bold;
  margin-top: 0.5em;
}

img {
  margin-top: 10px;
  max-width: 100%;
}

figcaption {
  font-size: 1em;
  color: #555;
}

details {
  background-color: #e8f5e9;
  padding: 1rem;
  border-left: 4px solid #2f5d3a;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

aside {
  background-color: #eef3ee;
  padding: 1rem;
  border: 1px solid #ccc;
}

aside > nav > ul > li >a {
  color: #ff3f3f;
}

body > footer {
  width: 100%;
  background-color: #2f5d3a;
  color: white;
  padding: 1.5em;
  text-align: center;
}

address {
  font-style: normal;
}

dialog {
  padding: 1em;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 0 auto;
}
