*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.8em;
  background-color: #f4f7f4;
  color: #222;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header,
footer,
main,
article,
section,
aside,
figure,
details,
dialog {
  margin-bottom: 1.5em;
}

main > article > section > ol {
  margin-left: 25px;
}

body > header {
  position: sticky;
  top: -1px;
  display: flex;
  background-color: #2f5d3a;
  color: white;
  width: 100vw;
  padding: 2em 0em;
  align-items: end;
  justify-content: space-around;
  line-height: 3em;
}

body > header > hgroup, body > header > nav{
  padding-left: 1em;
}

body > header > hgroup > h1 {
  font-weight: 300;
  font-size: 2.5em;
}

body > header > hgroup > h2 {
  font-weight: 200;
  font-size: 1.5em;
}

header > nav > ul {
  display: flex;
  gap: 3em;
}

nav > ul {
 list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

nav a:hover {
  text-decoration: underline;
}

main {
  width: 70%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

article > header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 2em;
}

section {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

mark {
  background-color: #c8f7c5;
  padding: 0.2em 0.4em;
}

data {
  font-weight: bold;
  margin-top: 0.5em;
}

img {
  margin-top: 10px;
  max-width: 100%;
}

figcaption {
  font-size: 1em;
  color: #555;
}

details {
  background-color: #e8f5e9;
  padding: 1rem;
  border-left: 4px solid #2f5d3a;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

aside {
  background-color: #eef3ee;
  padding: 1rem;
  border: 1px solid #ccc;
}

aside > h3 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 1em;
}

aside > nav > ul > li{
  padding-top: 1em;
}

aside > nav > ul > li >a {
  color: #ff3f3f;
}

body > footer {
  width: 100%;
  background-color: #2f5d3a;
  color: white;
  padding: 1.5em;
  text-align: center;
}

address {
  font-style: normal;
}

dialog {
  padding: 1em;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 0 auto;
}